# This vars are applied automatically when running `terraform apply` or `terraform plan`
# Rename to env.auto.tfvars to make it work

mongodb_atlas_private_key="ATLAS_DB_PROJECT_PRIVATE_API_KEY" // find this at Atlas > Access Manager > Project Access > Private Key
curzy_user_password="MONGODB_USER_PASSWORD" // it is only password in connection string
tf_api_token="TERRAFORM_API_TOKEN" // only for local dev - find at https://app.terraform.io/app/settings/tokens
