# This vars are applied automatically when running `terraform apply` or `terraform plan`
# Rename to env.auto.tfvars to make it work

mongodb_atlas_private_key="ATLAS_DB_PROJECT_PRIVATE_API_KEY" // find this at https://cloud.mongodb.com/v2/622e0b3854424113167a31cd#/access/apiKeys
curzy_user_password="MONGODB_USER_PASSWORD"